
:root {
	/* Light Colors */
	--color-primary-toned-light: hsl(216, 94%, 70%);
	--color-1-light: hsla(214, 14%, 80%, 0.8);
	--color-2-light: hsl(215, 26%, 70%);
	--color-2-trans-light: hsla(215, 30%, 80%, 0.68);
	--color-text-light: hsl(215, 10%, 5%);
	--color-text-disabled-light: hsl(215, 5%, 30%);
	--svg-icon-color-light: invert(4%) sepia(7%) saturate(916%)
		hue-rotate(155deg) brightness(94%) contrast(98%);
	--color-pure-contrast-light: hsl(0, 0%, 0%);
	--color-contrast-light: hsl(0, 0%, 13%);
	--color-link-light: hsl(210, 100%, 40%);
	--color-link-hover-light: hsl(210, 100%, 40%);
	--color-link-visitied-light: hsl(210, 100%, 40%);
	--color-input-background-light: hsl(247, 10%, 98%);
    --color-background-overlay-light: hsla(0, 0%, 100%, 0.36);
	--color-focus-outline-light: hsl(30, 100%, 50%);
	/* Dark Colors */
	--color-primary-toned-dark: hsl(229, 70%, 31%);
	--color-1-dark: hsla(215, 15%, 10%, 0.925);
	--color-2-dark: hsl(215, 25%, 15%);
	--color-2-trans-dark: hsla(215, 15%, 20%, 0.84);
	--color-text-dark: hsl(215, 10%, 95%);
	--color-text-disabled-dark: hsl(215, 5%, 60%);
	--svg-icon-color-dark: invert(97%) sepia(96%) saturate(2553%)
		hue-rotate(178deg) brightness(105%) contrast(108%);
	--color-pure-contrast-dark: hsl(0, 0%, 100%);
	--color-contrast-dark: hsl(0, 0%, 87%);
	--color-link-dark: hsl(240, 100%, 77%);
	--color-link-hover-dark: hsl(240, 100%, 77%);
	--color-link-visitied-dark: hsl(240, 100%, 77%);
	--color-input-background-dark: hsl(247, 10%, 18%);
    --color-background-overlay-dark: hsla(0, 0%, 0%, 0.3);
	--color-focus-outline-dark: hsl(60, 100%, 50%);
	/* Common Colors */
	--color-black: hsl(0, 0%, 0%);
	--color-lighter-black: hsl(227, 25%, 10%);
	--color-primary: hsl(224, 80%, 45%);
	--color-primary-trans: hsla(224, 80%, 45%, 0.8);
	--color-important-red: hsl(0, 100%, 60%);
	--color-success-green: hsl(120, 90%, 30%);
	--color-required-field: var(--color-important-red);
    --color-primary-disabled:  hsl(224, 80%, 30%);
}

:root[legacy] {
	--color-primary: hsl(215, 75%, 50%);
	--color-primary-trans: hsla(215, 75%, 50%, 0.8);
}

:root[data-theme='light'] {
	color-scheme: light;
	--color-primary-toned: var(--color-primary-toned-light);
	--color-1: var(--color-1-light);
	--color-2: var(--color-2-light);
	--color-2-trans: var(--color-2-trans-light);
	--color-text: var(--color-text-light);
	--color-text-disabled: var(--color-text-disabled-light);
	--svg-icon-color: var(--svg-icon-color-light);
	--color-pure-contrast: var(--color-pure-contrast-light);
	--color-contrast: var(--color-contrast-light);
	--color-pure-anticontrast: var(--color-pure-contrast-dark);
	--color-anticontrast: var(--color-contrast-dark);
	--color-input-background: var(--color-input-background-light);
    --color-background-overlay: var(--color-background-overlay-light);
	--color-focus-outline: var(--color-focus-outline-light);
}

:root[data-theme='dark'] {
	color-scheme: dark;
	--color-primary-toned: var(--color-primary-toned-dark);
	--color-1: var(--color-1-dark);
	--color-2: var(--color-2-dark);
	--color-2-trans: var(--color-2-trans-dark);
	--color-text: var(--color-text-dark);
	--color-text-disabled: var(--color-text-disabled-dark);
	--svg-icon-color: var(--svg-icon-color-dark);
	--color-pure-anticontrast: var(--color-pure-contrast-light);
	--color-anticontrast: var(--color-contrast-light);
	--color-input-background: var(--color-input-background-dark);
	--color-background-overlay: var(--color-background-overlay-dark);
	--color-focus-outline: var(--color-focus-outline-dark);
}