@font-face {
    font-family: "MinecraftTen";
    src: url("/~dobiapa2/assets/fonts/minecraft-ten.otf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("/~dobiapa2/assets/fonts/ubuntu-regular.ttf");
}

@font-face {
    font-family: "Gantari";
    src: url("/~dobiapa2/assets/fonts/gantari-regular.ttf");
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/~dobiapa2/assets/fonts/jetbrains-mono.woff2");
}