label {
    margin: 0.2em;
}

input[type="submit"] {
    margin: 0.6em;
}


input[type="file"] {
    width: 95%;
    display: block;
}

input[type="text"] {
    font-size: 1rem;
    border-radius: 0;
    border: 0.2rem solid var(--color-primary);
    margin: 0.1rem;
}

select {
  font-size: 1rem;
  border-radius: 0;
  border: 0.2rem solid var(--color-primary);
  margin: 0.1rem;
}

textarea {
    border-radius: 0;
    border: 0.2rem solid var(--color-primary);
    background-color: var(--color-input-background);
    margin: 0;
    resize: none;
}

.introduction-details {
    display: flex;
    flex-direction: column;
    flex: 1 1 38%;
}

.introduction-part {
    display: flex;
    align-items: stretch;
}

.introduction-preview {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.introduction-preview > div {
    flex: 1;
    width: auto;
    height: auto;
    padding: 0.6rem;
    margin: 0.4rem;
    background-color: var(--color-background-overlay);
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-part {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.slug-editor {
    flex: 1 1 40%;
}

.prefix-container > label {
    font-size: 1rem;
    font-family: 'Gantari', sans-serif;
    color: var(--color-text-disabled);
    user-select: none;
    text-wrap: nowrap;

    border-radius: 0;
    border: 0.2rem solid var(--color-primary);
    border-right: none;
    margin: 0.1rem;
    margin-right: 0;
    padding: 0.1em;
    padding-right: 0.2em;

    background-color: var(--color-input-background);
}

.prefix-container {
    display: flex;
}

.prefix-container > input {
    border-left: none;
    margin-left: 0;
    width: 100%;
}

.thumbnail-size, .thumbnail-ratio {
    display: inline-block;
    margin: 0.15em;
}

.category-selection { 
    flex: 1 1 8rem;
}

.article-part {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}


.article-gallery {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 1;

    padding: 0.6rem;
    margin: 0.4rem;
    background-color: var(--color-background-overlay);
    border-radius: 0.2em;

    width: min-content;
}

.article-editor {
    flex: 1 1 180%;
}

.gallery-info {
    padding: 0.6rem;
    text-align: left;
}

.gallery-image {
    display: flex;
    flex-direction: column;
    
    padding: 0.6rem;
    background-color: var(--color-background-overlay);
    border-radius: 0.2em;

    box-sizing: border-box;
}

.hint {
    font-family: JetBrainsMono;
    font-size: 0.8em;
    margin: 0.1rem;
}

.gallery-image label, 
.gallery-image .image-title {
    margin: 0 0 0.5rem 0;
}

.delete-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delete-item img {
    filter: var(--svg-icon-color);
}

.delete-item:hover img {
    filter: var(--svg-icon-color-dark);
}

button.gallery-container {
    position: relative;
    max-width: 20rem;
    border: 0.2rem solid var(--color-primary);
    padding: 0;
}

button.gallery-container::after {
    content: "Click to copy link.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0.4rem;
  
    color: var(--color-text-dark);
    background-color: rgba(0,0,0,0.6);
    font-size: 1.2rem;
    pointer-events: none;
}

button.gallery-container:hover::after {
    text-decoration: underline;
}

button.gallery-container.copied::after {
    text-decoration: none;
    content: "Copied!";
}


button.gallery-container img {
    width: 100%;
    display: block;
}

button.gallery-container img:hover {
    filter: brightness(1.4);
}

button.gallery-container:active img {
    filter: blur(3px);
}

button.gallery-container:active {
    transform: scale(102%);
}

#gallery-preview {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    width: min-content;
    gap: 0.6rem;
    padding: 0;
    margin: 0;
}

#gallery-upload-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    aspect-ratio: 16/9;
    width: min(20rem,75vw);
    box-sizing: border-box;

    border: 0.2rem dashed var(--color-primary);
    padding: 0.5rem;
    text-align: center;
    font-family: 'Gantari', sans-serif;
}

div#md-preview {
    border: 0.2rem solid var(--color-primary);
    height: 40rem;
    padding: 0.1rem;
    overflow: auto;
}


#md-preview img {
    max-width: 96% !important;
}

#md-preview * {
    margin: 0.5em;
}

#md-preview th, #md-preview td {
    border: 0.2em solid var(--color-primary);
}


#md-preview pre {
  background-color: var(--color-input-background);
  border-radius: 0.5em;
  padding: 0.5em;
  border: 0.15em solid var(--color-2);
}

textarea[name="description"] {
    font-size: 1rem;
    font-family: 'Gantari', sans-serif;
    height: 4.7em;
}

textarea#md-input {
    font-size: 1rem;
    font-family: JetBrainsMono;
    height: 40rem;
    padding: 0.1rem;
}


form {
    width: 100%;
}

form h2 {
    padding-left: 0.6rem;
    margin-bottom: 0.3rem;
}


.switch-buttons {
    display: flex;
    flex-direction: row;
}

.switch-buttons>button {
    width: 6em;
    border: none;
    padding: 0.2rem 0.2rem 0.3rem 0.2rem;
    margin: 0 0.25rem;
    background-color: var(--color-input-background);
}

.switch-buttons>button:not(:disabled):hover {
    background-color: var(--color-primary-toned);
    color: var(--color-text);
    cursor: pointer;
}

.switch-buttons>button:disabled {
    background-color: var(--color-primary);
    color: var(--color-text-dark);
}

.article-part:has(ul#gallery-preview li.gallery-image[data-gallery-index="2"]) {
    flex-direction: column;
}
.article-part:has(ul#gallery-preview li.gallery-image[data-gallery-index="2"]) .article-gallery {
    width: fit-content;
}

.article-part:has(ul#gallery-preview li.gallery-image[data-gallery-index="2"]) #gallery-preview {
        flex-direction: row;
        width: fit-content;
}

/* File and Link Adding Styles */

#downloads-links-heading::after {
    content: " *";
    color: var(--color-required-field);
}

.adder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}


.adder li {
    display: flex;
    flex-direction: column;
    flex: 0 1 20em;
}

.adder p {
    margin: 0.5em;
}

.adder button.add-another {
    height: 9em;
    margin: 0.5em;
}

.adder button.add-another span {
    font-size: 2em;
}

/* Small Screen Layout */

@media screen and (max-width:825px) {
    .introduction-part,.article-part,.details-part {
        flex-direction: column;
    }
    .category-selection {
        flex-basis: 3rem;
    }

    .article-gallery {
        width: fit-content;
    }

    #gallery-preview {
        flex-direction: row;
        width: fit-content;
    }
}