main {
    font-size: 1.25rem;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.2em;
}

label {
    text-align: right;
    width: 10em;
    margin-right: 0.4em;
}

input[type="submit"] {
    margin: 0.6em;
}

