* {
    overflow-wrap: break-word;
    word-break: normal;
}

h2, .page-description, #download-links, #download-files {
    width: 90%;
}

#download-links, #download-files {
    font-size: 1.3rem;
    font-family: JetBrainsMono, monospace;
    display: flex;
    flex-direction: column;
}

#download-links a, #download-files a {
    margin: 0.5em;
}

#full-thumbnail {
    max-width: 95%;
    border: 0.5em solid var(--color-primary);
    margin: 1em;
}

#info-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#info-row div {
    width: max-content;
    margin: 1em;
}

#project-article {
    width: 95%;
    margin: 1.5em 5%;
    padding: 0.5em;
}

#project-article img {
    max-width: 96%;
}

#project-article th, #project-article td {
    border: 0.2em solid var(--color-primary);
}

.project-actions a {
    margin: 0.5em;
}

.creator-container {
    margin: 1em;
}

.creator-container a {
    display: flex;
    align-items: center;
    padding: 0.3em;
}

.creator-container span {
    padding-left: 0.2em;
}

.creator-container img {
    width: 2em;
    height: 2em;
    border: 0.2rem var(--color-primary) solid;
    border-radius: 50%;
}