.horizontal-scroll {
    overflow-x: auto;
    width: 100%;
}

.page-form > form {
    display: flex;
    margin: 0.5em;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
}

.page-form > form > div {
    margin: 0.2em;
}

.page-form > form select {
    width: 9em;
    font-size: 0.94em;
}

.page-form > form input[type='submit'] {
    height: 2.2em;
    margin: 0.2em;
}

table {
    margin: auto;
}

table img {
    width: 2em;
    height: 2em;
}

th, td {
  border: 0.2em solid var(--color-primary);
  padding: 0.1em 0.4em;
}

td {
    max-width: 20em;
}

th {
    font-family: 'Gantari', sans-serif;
    font-weight: bold;
}
.page-controls {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.page-controls > div {
    width: 50%;
    display: flex;
}

.page-controls > div:nth-child(1) {
    justify-content: start;
}

.page-controls >div:nth-child(2) {
    justify-content: end;
}

.page-controls > div > a {
    padding: 0.35em;
}