.horizontal-scroll {
    overflow-x: auto;
    width: 100%;
}

table {
    margin: auto;
}

table img {
    width: 2em;
    height: 2em;
}

th, td {
  border: 0.2em solid var(--color-primary);
  padding: 0.1em 0.4em;
}

td {
    max-width: 20em;
}

th {
    font-family: 'Gantari', sans-serif;
    font-weight: bold;
}