main {
    font-size: 1.25rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
}

label {
    text-align: right;
    width: 9em;
    margin-right: 0.4em;
}

input {
    transition: transform 0.3s ease;
}

.input-group {
    width: 20em;
    display: flex;
    flex-direction: row;
}
input[type="text"],input[type="password"] {
    box-sizing: border-box;
    width: 85%;
}

input[type="submit"] {
    margin: 0.6em 0;
}


.indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.15em solid transparent;
    border-radius: 0.2em;
    margin: 0.2em;
    width: 1.5em;
    height: 1.5em;
}

.indicator > svg {
    padding: 0.1em;
}

.indication-good {
    border-color: rgb(21, 70, 4);
    background-color:rgb(53, 204, 15);
}

.indication-bad {
    border-color: rgb(91, 9, 9);
    background-color: rgb(255, 30, 0);
}

@media only screen and (max-width: 41rem) {
    .row {
        flex-direction: column;
        align-items: normal;
    }

    .input-group {
        width: 100%;
    }

    label {
        text-align: left;
    }
}

#username-taken {
    color: var(--color-required-field);
}

.row:has(input[name="username"][data-available="1"]) #username-taken {
    display: none;
}

.row:has(input[name="username"][data-available="0"]) #username-available {
    display: none;
}

.hint {
    font-size: 0.75em;
    font-family: JetBrainsMono, monospace;
}
