main {
    font-size: 1.25rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
}

label {
    text-align: right;
    width: 10em;
    margin-right: 0.4em;
}

input {
    transition: transform 0.3s ease;
}

.input-group {
    width: 25em;
    display: flex;
    flex-direction: row;
}
input[type="text"],input[type="password"] {
    width: 100%;
}

input[type="submit"] {
    margin: 0.6em;
}


.indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.15em solid transparent;
    border-radius: 0.2em;
    margin: 0.2em;
    width: 1em;
    height: 1em;
}

.indicator > svg {
    padding: 0.1em;
}

.indication-good {
    border-color: rgb(21, 70, 4);
    background-color:rgb(53, 204, 15);
}

.indication-bad {
    border-color: rgb(91, 9, 9);
    background-color: rgb(255, 30, 0);
}

@media only screen and (max-width: 41rem) {
    .row {
        flex-direction: column;
        align-items: normal;
    }

    .input-group {
        max-width: 100%;
    }

    label {
        text-align: left;
    }
}

