.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.2em;
}

label {
    text-align: right;
    width: 10em;
    margin-right: 0.4em;
}

input {
    transition: transform 0.3s ease;
}

.indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.15em solid transparent;
    border-radius: 0.2em;
    margin: 0.2em;
    width: 1rem;
    height: 1rem;
}

.indicator > svg {
    padding: 0.1rem;
}

.indication-good {
    border-color: rgb(21, 70, 4);
    background-color:rgb(53, 204, 15);
}

.indication-bad {
    border-color: rgb(91, 9, 9);
    background-color: rgb(255, 30, 0);
}

