.profile-part {
    display: flex;
}

#profile-picture-image {
    border-radius: 50%;
    border: 0.2em solid var(--color-primary);
    width: 10em;
}

#profile-picture-image:hover {
    border-radius: 50%;
    border: 0.2em dashed var(--color-primary);
}


#profile-picture-image::after {
    content: "Upload new picture.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0.4rem;
  
    color: var(--color-text-dark);
    background-color: rgba(0,0,0,0.6);
    font-size: 1.2rem;
    pointer-events: none;
}