.stats-container {
    flex: 1 0 50%;
}

.stat-row {
    display: flex;
}

.stat-row img {
    width: 2em;
    height: 2em;
    padding: 0.5em;
    filter: var(--svg-icon-color);
}

.profile-part {
    display: flex;
}

button.picture-container {
    position: relative;
    max-width: 10rem;
    border: 0.2rem solid var(--color-primary);
    border-radius: 50%;
    padding: 0;
}

button.picture-container:hover {
    border-radius: 50%;
    border: 0.2em dashed var(--color-primary);
    background-color: transparent;
}

.picture-container:hover::after {
    content: "Upload a new picture.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0.4rem;
  
    color: var(--color-text-dark);
    background-color: rgba(0,0,0,0.6);
    font-size: 1.2rem;
    pointer-events: none;
}

button.picture-container img {
    width: 100%;
    display: block;
    border-radius: 50%;
}