.stats-container {
    flex: 1 1 50%;
}

.update-banner {
    font-size: 1.5em;
    padding: 0.8em;
    border: 0.2em solid var(--color-primary);
    border-radius: 0.5em;
    text-align: center;
}

.update-banner.fail {
    background-color: var(--color-important-red)
}
.update-banner.success {
    background-color: hsl(120, 90%, 30%);
}

.stat-row {
    display: flex;
    align-items: center;
}

.stat-row img {
    width: 2em;
    height: 2em;
    padding: 0.5em;
    filter: var(--svg-icon-color);
}

.profile-part {
    display: flex;
}

.input-row {
    display: flex;
}


#profile-picture-container  {
    position: relative;
    max-width: 10rem;
    border: 0.2rem solid var(--color-primary);
    background-color: transparent;
    border-radius: 50%;
    padding: 0;
}

.disabled#profile-picture-container {
    filter: grayscale(1);
    border-color: var(--color-primary-disabled);
}


#profile-picture-container:hover:not(.disabled) {
    border-radius: 50%;
    border: 0.2em dashed var(--color-primary);
}


#profile-picture-container:hover::after:not(.disabled) {
    content: "Upload a new picture.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0.4rem;
  
    color: var(--color-text-dark);
    background-color: rgba(0,0,0,0.6);
    font-size: 1.2rem;
    pointer-events: none;
}

.picture-upload-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-picture-container img {
    width: 100%;
    display: block;
    border-radius: 50%;
}

input[type="submit"] {
    margin: 0.6em;
}

@media only screen and (max-width: 48rem) {
    .profile-part {
        flex-direction: column;
    }
}