/* IMPORTS */

@import url("/~dobiapa2/common/styles/fonts.css");
@import url("/~dobiapa2/common/styles/colors.css");

/* BASIC ELEMENTS */

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	min-height: 100vh;
	color: var(--color-text);
    background-color: transparent;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 

	background-image: url('../assets/background/blue-ice.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 6rem;
    pointer-events: none; 
    image-rendering: pixelated;
}

main {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;

	flex: 1;
	margin: 0;
	padding: 1rem;
	align-items: center;

	background-color: var(--color-1);
	font-family: 'Ubuntu';
}

main > * {
    margin-left: 10%;
	margin-right: 10%;
}

@media only screen and (max-width: 59rem) {
    main > * {
        margin-left: 2%;
		margin-right: 2%;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Gantari', sans-serif;
}

a {
    display: inline-block;
}

:root[data-theme='dark'] a:hover:not(:has(*)) {
    filter: brightness(1.2) saturate(1.2);
}

:root[data-theme='light'] a:hover:not(:has(*)) {
    filter: brightness(0.6) saturate(1.2);
}

/* FORM ELEMENTS */

textarea:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
a:focus-visible {
	outline: 0.12em solid var(--color-focus-outline);
}

input,
label {
    display: block;
}

label {
    margin: 0.2em;
}

input {
	font-family: 'Gantari', sans-serif;
    font-size: 1em;
}

div.field:has(*[required]) > label::after {
  content: " *";
  color: var(--color-required-field);
}

form div.field {
    display: flex;
    flex-direction: column;

    padding: 0.6em;
    margin: 0.5em;
    background-color: var(--color-background-overlay);
    border-radius: 0.2em;
}


input[type='text'],
input[type='password'] {
    border-radius: 0;
    border: 0.2em solid var(--color-primary);
    background-color: var(--color-input-background);
    margin: 0.1em;
	padding: 0.1em;
}

textarea {
    border-radius: 0;
    border: 0.2em solid var(--color-primary);
    margin: 0;
    resize: none;
	padding: 0.1em;
    background-color: var(--color-input-background);
}

select {
    background-color: var(--color-input-background);
    margin: 0.1em;
	padding: 0.1em;
    border-radius: 0;
    border: 0.2em solid var(--color-primary);
}

input[type='checkbox'] {
    width: 1.3rem;
    height: 1.3rem;
    accent-color: var(--color-primary);
}

.color-required {
	color: var(--color-required-field)
}

input[type="submit"] {
    font-size: 1.1em;
    padding: 0.3em 1em;
    border-radius: 0em; /* 0.35em */
    border: 0.2em solid var(--color-text);
    background-color: var(--color-primary);
    color: var(--color-text-dark);
}

input[type="submit"]:hover:not(:disabled)  {
    border-color: var(--color-primary);
    cursor: pointer;
}

input[type="submit"]:disabled {
    border-color: var(--color-text-disabled);
    background-color: var(--color-primary-trans);
    color: var(--color-text-disabled-dark);
}

button {
    font-size: 1.1em;
    padding: 0.3em 1em;
    border-radius: 0em; /* 0.35em */
    border: 0.2em solid var(--color-primary);
    background-color: transparent;
}

button:hover:not(:disabled) {
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    cursor: pointer;
}

button:disabled {
    border-color: var(--color-primary-disabled);
    color: var(--color-text-disabled);
}

/* NAVBAR */

#topbar {
    position: sticky;
    top: 0;
    width: 100vw;
	height: 4rem;

	padding: 0.25rem 0.55rem 0 0.55rem;
    box-sizing: border-box;   

	display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 99;

    background-color: var(--color-2-trans);
    backdrop-filter: blur(3px);

    border-color: var(--color-primary);
    border-width: 0 0 0.3rem 0;
    border-style: solid;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#topbar > .theme-toggle {
    display: flex;
    margin-left: auto;
    align-self: center;
    box-sizing: content-box;

    cursor: pointer;

    background-color: transparent;

    border: none;
    padding: 0.5rem;
}

#topbar > .theme-toggle:hover img {
    border-width: 0;
    width: 2rem;
    box-shadow: 0px 0 5px 5px var(--color-primary-trans);
}

#topbar > .theme-toggle img {
    width: 1.5rem;
    border: 0.25rem var(--color-primary) solid;
    image-rendering: pixelated;
}

#topbar > .icon-container {
    display: flex;
    align-items: center;
    flex-direction: row;

    text-decoration: none;
}

#topbar > .icon-container > img {
    height: 2.4rem;
    width: 2.4rem;
    padding: 0.3rem;

    border-radius: 0.625rem;
}

#topbar > .icon-container > span {
    display: block;
    margin: auto 0.1rem;

    color: var(--color-text);
    font-family: 'MinecraftTen';
    font-size: 1.1rem;
    text-decoration: none;
    text-shadow: 1px 2px 1px var(--color-primary);
}

#topbar > .login-container {
    margin: 0 0.2rem;
	max-width: 11.2rem;
	align-self: end;
}

#topbar > .login-container a {
	display: flex;
	align-items: center;
	font-family: 'Gantari', sans-serif;
	font-size: 1.1em;
	height: 2.9rem;
	padding: 0.2rem;
	text-decoration: none;

    border-width: 0.15rem 0 0 0;
    border-style: solid;
    border-color: transparent;
}

#topbar > .login-container img {
	width: 2rem;
	height: 2rem;

	margin: 0.2rem;
	border: 0.2rem var(--color-primary) solid;
	border-radius: 50%;
}

#topbar > .login-container span {
	max-height: 2.9rem;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 0.2rem;
	font-weight: bold;
	color: var(--color-text);
}

#topbar > .login-container > a:hover {
    background-color: var(--color-primary-toned);
    border-color: var(--color-anticontrast);
}

#topbar > .login-container > a:hover > img {
    border-color: var(--color-anticontrast);
}

#topbar > .login-container > a.current-page {
    background-color: var(--color-primary);
	border-color: var(--color-pure-anticontrast);
}

#topbar > .login-container > a.current-page > span {
    color: var(--color-text-dark);
}

#topbar > .login-container > a.current-page > img {
	border-color: var(--color-pure-anticontrast);
}

#topbar > .links-container {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    margin: 0.25rem 0.4rem 0 0.4rem;

    text-decoration: none;
}

#topbar > .links-container > a {
    padding: 0.5rem 0.8rem;

    color: var(--color-text);
    text-decoration: none;
    font-family: 'Gantari', sans-serif;
	font-size: 1.2rem;

    background-color: transparent;

    border-width: 0.15rem 0 0 0;
    border-style: solid;
    border-color: transparent;
}

#topbar > .links-container > a:hover {
    background-color: var(--color-primary-toned);
    border-color: var(--color-anticontrast);
}

#topbar > .links-container > a.current-page {
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    border-color: var(--color-pure-anticontrast);
}

/* SMALL VIEWPORT MENU */

#topbar .burger-menu-toggle {
    display: none;
    box-sizing: content-box;

	background-color: transparent;
    border-width: 0.15rem 0 0 0;
    border-style: solid;
    border-color: transparent;

    padding: 0.3rem;
	margin: 0 0.2rem;
	align-self: end;

    cursor: pointer;
}

#topbar > .burger-menu-toggle:hover {
    background-color: var(--color-primary-toned);
	border-color: var(--color-anticontrast);
}

#topbar > .burger-menu-toggle.open {
    background-color: var(--color-primary);
	border-color: var(--color-pure-anticontrast);
}

#topbar > .burger-menu-toggle.open > img {
    filter: var(--svg-icon-color-dark);
}

#topbar > .burger-menu-toggle > img {
    width: 2.4rem;
    filter: var(--svg-icon-color);
}

#links-dropdown {
	display: none;

    position: fixed;
    right: 0;
	top: 3.7rem;

    justify-content: space-evenly;
    flex-direction: column;
    width: 10rem;

    background-color: var(--color-2-trans);
    backdrop-filter: blur(4px);

    border-color: var(--color-primary);
    border-width: 0.3rem 0 0.3rem 0.3rem;
    border-style: solid;

    z-index: 999;
}

#links-dropdown > a {
    padding: 1rem 0;
    margin: 0.4rem 0;

    color: var(--color-text);
    text-decoration: none;
    text-align: center;
    font-family: 'Gantari', sans-serif;
	font-size: 1.2rem;

    border-color: transparent;
    border-width: 0.15em 0 0 0;
    border-style: solid;
}

#links-dropdown > a:hover {
    background-color: var(--color-primary-toned);
    border-color: var(--color-anticontrast);
}

#links-dropdown > a.current-page {
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    border-color: var(--color-pure-anticontrast);
}

@media only screen and (max-width: 41rem) {
	/* Hide full width links */
    #topbar > .links-container {
        display: none;
    }
	/* Show hamburger menu toggle */
    #topbar > .burger-menu-toggle {
        display: flex;
    }
	/* Show dropdown when toggle is on */
	body:has(#topbar > .burger-menu-toggle.open) > #links-dropdown {
    	display: flex;
	}
}

@media only screen and (max-width: 28rem) {
	/* Hide Icon Title */
	#topbar > .icon-container > span {
		display: none;
	}
}

/* FOOTER */

#footer {
    display: flex;

    color: var(--color-text-dark);
    font-family: Ubuntu, sans-serif;

    background-color: var(--color-lighter-black);
}

#footer > div {
    align-self: center;

    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-around;
}

#footer > .left-part {
    flex: 1 0 auto;
}

#footer > .right-part {
    flex: 1 1 auto;
}

#footer > .right-part > span {
    color: hsl(0, 100%, 68%);
}

#footer a {
    color: var(--color-link-dark);
}

#footer > div > :is(span, a) {
    margin: 1em;
}

@media only screen and (max-width: 35rem) {
    #footer {
        flex-direction: column;
    }

    #footer > div {
        align-self: flex-start;
    }

    #footer > div > :is(span, a) {
        margin: 0.5rem;
    }
}

/* NOSCRIPT */

noscript {
    position: fixed;
    bottom: 10px;
    left: 5%;

    width: 90%;
    height: auto;
    margin: auto;
}

noscript #noscript-text {
    padding: 1.2em;

    color: white;
    font-family: Arial;
    text-align: center;

    background-color: rgba(15, 15, 15, 0.85);
}

/* GENERIC CLASSES */
img.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}

.hidden {
    display: none !important;
}

.monospace {
    font-family: JetBrainsMono, monospace;
}

.bold {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

.center-text {
    text-align: center;
}

.warning-highlight {
    transition: all 0.25s;
    font-weight: bold;
    color: var(--color-required-field);
}

.warning-pop {
    transform: scale(105%);
}

/* Form Classes */
.prefix-container > label {
    font-family: 'Gantari', sans-serif;
    color: var(--color-text-disabled);
    user-select: none;
    text-wrap: nowrap;

    border-radius: 0;
    border: 0.2em solid var(--color-primary);
    border-right: none;
    margin: 0.1em;
    margin-right: 0;
    padding: 0.1em;
    padding-right: 0.2em;

    background-color: var(--color-input-background);
}

.prefix-container {
    display: flex;
}

.prefix-container > input {
    border-left: none;
    margin-left: 0;
    width: 100%;
}

/* Project Listing */
#projects-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5em 2%;

}

#projects-section > * {
    margin: 0.5em;
}

/* Project Card Styles */
.project-card a {
    text-decoration: none;
}

.project-card a:hover h3 {
    text-decoration: underline;
}

.project-card {
    max-width: min(25em, 86vw);
    border-radius: 0.5em;
    background-color: var(--color-1);
}

.project-card:hover {
    background-color: var(--color-2);
}

.project-card .user-part a {
    display: flex;
    align-items: center;
    padding: 0.3em;
}

.project-card .user-part a:hover {
    text-decoration: underline;
}
.project-card .user-part span {
    padding-left: 0.2em;
}

.project-card .user-part img {
    width: 2em;
    height: 2em;
    border: 0.2rem var(--color-primary) solid;
    border-radius: 50%;
    flex-shrink: 0;
}

.project-card .project-part img {
    width: 75%;
    border-top: 0.25em solid var(--color-text);
    padding: 0 12.5%;
}
    
.project-card .project-part h3 {
    height: 1.4em;
    padding: 0 0.5em;
}

.project-card .project-part p.description {
    height: 3.6em;
    padding: 0.3em 0.5em;
    color: var(--color-text);
}

.project-card .project-part p.modified {
    border-top: 0.25em solid var(--color-text);
    padding: 0.3em 0.5em;
    color: var(--color-text);
}

.project-card:hover .project-part p.modified {
    border-color: var(--color-primary-toned);
}

.project-card:hover .project-part img {
    border-color: var(--color-primary-toned);
}

.project-card * {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    word-break: normal;
    margin: 0;
}

.project-card > .user-part {
    overflow: visible;
    max-width: min(25em, 86vw);
}

.project-card .project-part {
    max-width: min(25em, 86vw);
}

/* Page Form (sorting, filters etc.) */

.page-form > form {
    display: flex;
    margin: 0.5em;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
}

.page-form > form > div {
    margin: 0.2em;
}

.page-form > form select {
    width: 9em;
    font-size: 0.94em;
}

.page-form > form input[type='submit'] {
    height: 2.2em;
    margin: 0.2em;
}

/* Paging */
.page-controls {
    width: 92%;
    display: flex;
    flex-direction: row;
    max-width: 55em;
}

.page-controls > div {
    width: 50%;
    display: flex;
}

.page-controls > div:nth-child(1) {
    justify-content: start;
}

.page-controls >div:nth-child(2) {
    justify-content: end;
}

.page-controls > div > a {
    padding: 0.35em;
}

/* Banner to show server-side validation messages after sending forms */
.update-banner {
    font-size: 1.5em;
    padding: 0.8em;
    border: 0.2em solid var(--color-primary);
    border-radius: 0.5em;
    text-align: center;
}

.update-banner.fail {
    color: var(--color-text-dark);
    background-color: var(--color-important-red)
}
.update-banner.success {
    color: var(--color-text-dark);
    background-color: var(--color-success-green);
}