/* IMPORTS */

@import url("/~dobiapa2/common/styles/fonts.css");
@import url("/~dobiapa2/common/styles/colors.css");

/* BASIC ELEMENTS */

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	min-height: 100vh;

	background-image: url('../assets/background/blue-ice.png');
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 6em;

	image-rendering: pixelated;

	color: var(--color-text);
}

main {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;

	flex: 1;
	margin: 0;
	padding: 1rem;
	align-items: center;

	background-color: var(--color-1);
	image-rendering: auto;
	font-family: Ubuntu;
}

main > * {
    margin-left: 10%;
	margin-right: 10%;
}

@media only screen and (max-width: 59rem) {
    main > * {
        margin-left: 2%;
		margin-right: 2%;
    }
}

/* FORM ELEMENTS */

textarea:focus-visible,
button:focus-visible,
input:focus-visible,
a:focus-visible {
	outline: 0.15rem solid rgb(255, 238, 0);
}

input {
	font-family: 'Gantari', sans-serif;
}

input[type='text'],
input[type='password'] {
    border-radius: 0;
    border: 0.2rem solid var(--color-primary);
    margin: 0.1rem;
	padding: 0.1em;
}

textarea {
	padding: 0.1em;
}
.color-required {
	color: var(--color-required-field)
}

/* NAVBAR */

#topbar {
    position: sticky;
    top: 0;
    width: 100vw;
	height: 4rem;

	padding: 0.25rem 0.55rem 0 0.55rem;
    box-sizing: border-box;   

	display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 99;

    background-color: var(--color-2-trans);
    backdrop-filter: blur(4px);

    border-color: var(--color-primary);
    border-width: 0 0 0.3rem 0;
    border-style: solid;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#topbar > .theme-toggle {
    display: flex;
    margin-left: auto;
    align-self: center;
    box-sizing: content-box;

    cursor: pointer;

    background-color: transparent;

    border: none;
    padding: 0.5rem;
}

#topbar > .theme-toggle:hover img {
    border-width: 0;
    width: 2rem;
    box-shadow: 0px 0 5px 5px var(--color-primary-trans);
}

#topbar > .theme-toggle img {
    width: 1.5rem;
    border: 0.25rem var(--color-primary) solid;
    image-rendering: pixelated;
}

#topbar > .icon-container {
    display: flex;
    align-items: center;
    flex-direction: row;

    text-decoration: none;
}

#topbar > .icon-container > img {
    height: 2.4rem;
    width: 2.4rem;
    padding: 0.3rem;

    border-radius: 0.625rem;
}

#topbar > .icon-container > span {
    display: block;
    margin: auto 0.1rem;

    color: var(--color-text);
    font-family: MinecraftTen;
    font-size: 1.1rem;
    text-decoration: none;
    text-shadow: 1px 2px 1px var(--color-primary);
}

#topbar > .login-container {
    margin: 0 0.2rem;
	align-self: end;
}

#topbar > .login-container a {
	display: flex;
	align-items: center;
	font-family: 'Gantari', sans-serif;
	font-size: 1.2em;
	padding: 0.2rem;
	text-decoration: none;

    border-width: 0.15rem 0 0 0;
    border-style: solid;
    border-color: transparent;
}

#topbar > .login-container img {
	width: 2rem;
	height: 2rem;

	margin: 0.2rem;
	border: 0.2rem var(--color-primary) solid;
	border-radius: 50%;
}

#topbar > .login-container span {
	margin: 0.2rem;
	font-weight: bold;
	color: var(--color-text);
}

#topbar > .login-container > a:hover {
    background-color: var(--color-primary-toned);
    border-color: var(--color-anticontrast);
}

#topbar > .login-container > a.current-page {
    background-color: var(--color-primary);
	border-color: var(--color-pure-anticontrast);
}

#topbar > .login-container > a.current-page > span {
    color: var(--color-text-dark);
}

#topbar > .login-container > a.current-page > img {
	border-color: var(--color-pure-anticontrast);
}

#topbar > .links-container {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    margin: 0.25rem 0.4rem 0 0.4rem;

    text-decoration: none;
}

#topbar > .links-container > a {
    padding: 0.6rem 1rem 0.6rem 1rem;

    color: var(--color-text);
    text-decoration: none;
    font-family: InterBlack;

    background-color: transparent;

    border-width: 0.15rem 0 0 0;
    border-style: solid;
    border-color: transparent;
}

#topbar > .links-container > a:hover {
    background-color: var(--color-primary-toned);
    border-color: var(--color-anticontrast);
}

#topbar > .links-container > a.current-page {
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    border-color: var(--color-pure-anticontrast);
}

/* SMALL VIEWPORT MENU */

#topbar .burger-menu-toggle {
    display: none;

	background-color: transparent;
    border-width: 0.15rem 0 0 0;
    border-style: solid;
    border-color: transparent;

    padding: 0.3rem;
	margin: 0 0.2rem;
	align-self: end;

    box-sizing: content-box;
}

#topbar > .burger-menu-toggle:hover {
    background-color: var(--color-primary-toned);
	border-color: var(--color-anticontrast);
}

#topbar > .burger-menu-toggle.open {
    background-color: var(--color-primary);
	border-color: var(--color-pure-anticontrast);
}

#topbar > .burger-menu-toggle.open > img {
    filter: var(--svg-icon-color-dark);
}

#topbar > .burger-menu-toggle > img {
    width: 2.4rem;
    filter: var(--svg-icon-color);
    cursor: pointer;
}

#links-dropdown {
	display: none;

    position: fixed;
    right: 0;
	top: 3.7rem;

    justify-content: space-evenly;
    flex-direction: column;
    width: 10rem;

    background-color: var(--color-2-trans);
    backdrop-filter: blur(4px);

    border-color: var(--color-primary);
    border-width: 0.3rem 0 0.3rem 0.3rem;
    border-style: solid;
}

#links-dropdown > a {
    padding: 1.2em 0 1.2em 0;
    margin: 0.4em 0;

    color: var(--color-text);
    text-decoration: none;
    text-align: center;
    font-family: InterBlack;

    border-color: transparent;
    border-width: 0.15em 0 0 0;
    border-style: solid;
}

#links-dropdown > a:hover {
    background-color: var(--color-primary-toned);
    border-color: var(--color-anticontrast);
}

#links-dropdown > a.current-page {
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    border-color: var(--color-pure-anticontrast);
}

@media only screen and (max-width: 37.5rem) {
	/* Hide full width links */
    #topbar > .links-container {
        display: none;
    }
	/* Show hamburger menu toggle */
    #topbar > .burger-menu-toggle {
        display: flex;
    }
	/* Show dropdown when toggle is on */
	body:has(#topbar > .burger-menu-toggle.open) > #links-dropdown {
    	display: flex;
	}
}

/* FOOTER */

#footer {
    display: flex;

    color: var(--color-text-dark);
    font-family: Gantari;

    background-color: var(--color-lighter-black);
}

#footer > div {
    align-self: center;

    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-around;
}

#footer > .left-part {
    flex: 1 0 auto;
}

#footer > .right-part {
    flex: 1 1 auto;
}

#footer > .right-part > span {
    color: hsl(0, 100%, 68%);
}

#footer > .right-part > a {
    color: var(--color-link-dark);
}

#footer > div > :is(span, a) {
    margin: 1em;
}

@media only screen and (max-width: 35rem) {
    #footer {
        flex-direction: column;
    }

    #footer > div {
        align-self: flex-start;
    }

    #footer > div > :is(span, a) {
        margin: 0.5rem;
    }
}

/* NOSCRIPT */

noscript {
    position: fixed;
    bottom: 10px;
    left: 5%;

    width: 90%;
    height: auto;
    margin: auto;
}

noscript #noscript-text {
    padding: 1.2em;

    color: white;
    font-family: Arial;
    text-align: center;

    background-color: rgba(15, 15, 15, 0.85);
}